
{%- style -%}
  #BlogPosts-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    background-color: {{ section.settings.background_color }};
  }

  @media screen and (min-width: 750px) {
    #BlogPosts-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 990px) {
    #BlogPosts-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }

  .blog-posts {
    --page-content-width: var(--narrow-page-width);
    --page-width: calc(var(--page-content-width) + (var(--page-margin) * 2));
    --columns-gap: 36px;
    --rows-gap: 36px;
    --card-bg-color: {{ section.settings.card_background_color }};
  }
{%- endstyle -%}

<blog-posts-list section-id="{{ section.id }}">
  <div
    id="BlogPosts-{{ section.id }}"
    class="
      section
      blog-posts
      spacing-style
      size-style
    "
  >
    {% content_for 'blocks' %}

    {%- paginate blog.articles by 12 -%}
      <span ref="viewMorePrevious"></span>
      <div
        ref="grid"
        class="blog-posts-container"
        data-last-page="{{ paginate.pages }}"
      >
        {% for article in blog.articles %}
          <div
            class="blog-post-item"
            ref="cards[]"
            data-page="{{ paginate.current_page }}"
          >
            {% content_for 'block', id: 'static-blog-post-card', type: '_blog-post-card', article: article %}
          </div>
        {% endfor %}
      </div>
      <span ref="viewMoreNext"></span>
    {%- endpaginate -%}
  </div>
</blog-posts-list>

{% stylesheet %}
  /**
   * Blog posts page layout
   */

  .blog-posts-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    width: 100%;
    column-gap: var(--columns-gap);
    row-gap: var(--rows-gap);
  }

  /**
   * Apart from the first and second rows in the grid, all remaining blog posts
   * are arranged in a three-column layout:
   * +------------+------------+-------------+
   * |            |            |             |
   * |  (span 2)  |  (span 2)  |  (span 2)   |
   * |            |            |             |
   * +------------+------------+-------------+
   */
  .blog-post-item {
    --blog-post-card-scale: 1;
    grid-column: span 3;

    @media screen and (max-width: 989px) {
       grid-column: span 3;
    }

    @media screen and (max-width: 749px) {
      grid-column: span 6;
    }
  }

  /**
   * When there's no image, the blog post item has a border.
   */
  .blog-post-item {
    border: 1px solid rgb(var(--color-foreground-rgb) / var(--opacity-20));
    padding: 0 1rem 1rem;
  }

  .blog-post-item:has(.blog-post-card__image-container) {
    border: none;
    padding: 0;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_posts",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "image"
    },
    {
      "type": "button"
    },
    {
      "type": "video"
    },
    {
      "type": "group"
    },
    {
      "type": "spacer"
    },
    {
      "type": "_divider"
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Section Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "card_background_color",
      "label": "Card Background Color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding Top (Desktop)",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Top (Tablet)",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom (Tablet)",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 40
    }
  ]
}
{% endschema %}
